



.telaprincipal	
		{	background-image: url("fundo1234.png");
			background-position: center center;
			background-attachment: fixed;
			

				}
				
.tela2
{	background-image: url("fundo2.png");
			background-position: center center;
			background-attachment: fixed;
			

				}